/* index.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.photo-container {
    position: relative;
    display: inline-block;
}
.photo-container img{
    height: 200px;
    width: 200px;
}
.my-photo {
    border: 2px solid #4CAF50;
    transition: transform 0.3s, box-shadow 0.3s;
}

.my-photo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.my-photo:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(76, 175, 80, 0.5); /* Theme color with transparency */
    border-radius: 50%;
    z-index: 1;
}

.card {
    border: 2px solid #4CAF50;
    background-color: white; /* Ensures the card has a white background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    transition: box-shadow 0.3s; /* Smooth transition for shadow */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
}

.card-title {
    color: #4CAF50;
}

footer {
   /*background-color: #4CAF50;*/
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
}

.home-link {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}
.contacts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



/* index.css */
.education-section {
    margin-top: 20px;
}

.education-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #4CAF50; /* Border with your theme color */
    border-radius: 5px;
    background-color: white; /* White background for readability */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.education-year {
    font-size: 1.2em;
    font-weight: bold;
    color: #4CAF50; /* Use the theme color for year */
    margin-bottom: 5px;
}

.education-school {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
}

.education-details {
    font-size: 1em;
}
.contacts a{
    color: #fff;
    list-style: none;
    cursor: pointer;
}
.contacts a:hover{
    color: #4CAF50;
}
@media (max-width: 768px) {
    .card-title {
        font-size: 1.5em;
    }

    .home-link {
        top: 10px;
        right: 10px;
    }
}



